@import '../vars.scss';

.AsideBlock {
  margin-bottom: 35px;

  li {
    margin-bottom: 20px;
    // margin-left: 35px;
    display: block;

    .AsideBlock__title {
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      align-items: center;
      // padding-left: 30px;
      margin-bottom: 0px;
      position: relative;
      transition: 0s;

      span {
        flex: 0 0 15px;
        width: 15px;
        height: 11px;
        display: block;
        position: relative;
        margin-right: 16px;

        &::after {
          content: '';
          // content: url("data: image/svg+xml; charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 14' version='1.1' width='14' height='11' ><path d='M10.0261 1L16 6.97441L10 13' stroke='%236D6D6D' fill='none' stroke-width='2' stroke-miterlimit='22.9256' stroke-linecap='round' stroke-linejoin='round' /> <line x1='1' y1='7' x2='9' y2='7' stroke='%236D6D6D' stroke-width='2' stroke-linecap='round' /></svg>");
          position: absolute;
          transition: 0.3s;
          left: 0;
          background: url("data: image/svg+xml,%3csvg viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.0261 1L16 6.97441L10 13' stroke='%236D6D6D' stroke-width='2' stroke-miterlimit='22.9256' stroke-linecap='round' stroke-linejoin='round' /%3e%3cline x1='1' y1='7' x2='9' y2='7' stroke='%236D6D6D' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e") center center no-repeat;
          background-size: 15px 11px;
          width: 15px;
          height: 11px;
          opacity: .3;
        }
      }

      &~.AsideBlock {
        transition: .5s;
        height: 0px;
        overflow: hidden;

        li {
          margin-left: 30px;
        }
      }

      &.is-active {
        margin-bottom: 20px;

        &~.AsideBlock {
          height: auto;
        }

        span {
          transform: rotate(90deg);

          &::after {
            opacity: 1;
          }
        }
      }

      &:hover {
        span::after {
          opacity: 1;
        }
      }
    }

    span.AsideBlock__item {
      margin-bottom: 20px;
      display: block;
      text-decoration: underline;
    }

    .AsideBlock__item--link {
      display: block;
      margin-bottom: 20px;

      &:nth-child(2) {
        margin-bottom: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}