<%= require('html-loader!../__top.html') %> <%=
require('html-loader!../__menu.html') %> <%=
require('html-loader!../__breadcrumbs.html') %>

<main class="main">
  <div class="main-content container">
    <h1>ЗАПЧАСТИ КАМАЗ-ОБЩИЙ (5320, 53212, 5410, 54112, 5511, 55102)</h1>
    <div class="model_container">
      <div class="model_img">
        <img src="img/camaz01.png" alt="" />
      </div>
      <div class="model_inf">
        <div class="model_title">
          Запчасти на КАМАЗ-Общий (5320, 53212, 5410, 54112, 5511, 55102) в
          электронном автокаталоге, подбор оригинальных и сертифицированных
          запасных частей по онлайн каталогу.
        </div>

        <!-- model -->
        <div class="model_inf__item">
          <div class="item_name">
            Модель
            <span class="dots"></span>
          </div>
          <div class="item_value">
            КАМАЗ-ОБЩИЙ (5320, 53212, 5410, 54112, 5511, 55102)
          </div>
        </div>

        <!-- modification -->
        <div class="model_inf__item">
          <div class="item_name">
            Модификация
            <span class="dots"></span>
          </div>
          <div class="item_value">5320, 53212, 5410, 54112, 5511, 55102</div>
        </div>

        <!-- years -->
        <div class="model_inf__item">
          <div class="item_name">
            Каталог
            <span class="dots"></span>
          </div>
          <div class="item_value">2004 г.</div>
        </div>
      </div>
    </div>
    <form class="search_wrap online-catalog">
      <input
        id="catalog-search"
        class="inp_search"
        type="text"
        placeholder="Артикул или наименование товара"
      />
      <button class="search_clear" type="reset">
        <span></span>
      </button>
      <button class="search_btn">
        <svg
          width="19"
          height="21"
          viewBox="0 0 19 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="8.5"
            cy="8.5"
            r="7.75"
            stroke="#313131"
            stroke-width="1.5"
          ></circle>
          <path
            d="M17.5 20L13.4402 14.7976"
            stroke="#313131"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
        </svg>
      </button>
    </form>

    <div class="drop-list">
      <ul>
        <li>
          <button class="toggle_btn">
            <span class="icon">
              <svg>
                <use xlink:href="/icons/sprite.svg#minus"></use>
              </svg>
              <svg>
                <use xlink:href="/icons/sprite.svg#minus"></use>
              </svg>
            </span>
            Кузов
            <span class="dots"></span>
            <span class="value">503 товара</span>
          </button>
          <div class="drop_item">
            <ul>
              <li>
                <button class="toggle_btn">
                  <span class="icon">
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                  </span>
                  Пол кузова
                  <span class="dots"></span>
                  <span class="value">503 товара</span>
                </button>
              </li>
              <li>
                <button class="toggle_btn">
                  <span class="icon">
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                  </span>
                  Окно ветровое и заднее
                  <span class="dots"></span>
                  <span class="value">503 товара</span>
                </button>
                <div class="drop_links drop_item">
                  <ul>
                    <li>
                      <a href="OnlineCatalogScheme.html" class="drop_link">
                        <span class="text">
                          Кабина (сварка)
                          <span class="dots"></span>
                        </span>
                        <span class="value">503 товара</span>
                      </a>
                    </li>
                    <li>
                      <a href="OnlineCatalogScheme.html" class="drop_link">
                        <span class="text">
                          Установка кронштейнов и механизма уравновешивания
                          кабины
                          <span class="dots"></span>
                        </span>
                        <span class="value">503 товара</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="toggle_btn">
                  <span class="icon">
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                  </span>
                  Передок кузова
                  <span class="dots"></span>
                  <span class="value">503 товара</span>
                </button>
              </li>
              <li>
                <button class="toggle_btn">
                  <span class="icon">
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                  </span>
                  Боковина кузова
                  <span class="dots"></span>
                  <span class="value">503 товара</span>
                </button>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button class="toggle_btn">
            <span class="icon">
              <svg>
                <use xlink:href="/icons/sprite.svg#minus"></use>
              </svg>
              <svg>
                <use xlink:href="/icons/sprite.svg#minus"></use>
              </svg>
            </span>
            Кузов
            <span class="dots"></span>
            <span class="value">503 товара</span>
          </button>
          <div class="drop_item">
            <ul>
              <li>
                <button class="toggle_btn">
                  <span class="icon">
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                  </span>
                  Пол кузова
                  <span class="dots"></span>
                  <span class="value">503 товара</span>
                </button>
              </li>
              <li>
                <button class="toggle_btn">
                  <span class="icon">
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                  </span>
                  Окно ветровое и заднее
                  <span class="dots"></span>
                  <span class="value">503 товара</span>
                </button>
                <div class="drop_links drop_item">
                  <ul>
                    <li>
                      <a href="OnlineCatalogScheme.html" class="drop_link">
                        <span class="text">
                          Кабина (сварка)
                          <span class="dots"></span>
                        </span>
                        <span class="value">503 товара</span>
                      </a>
                    </li>
                    <li>
                      <a href="OnlineCatalogScheme.html" class="drop_link">
                        <span class="text">
                          Установка кронштейнов и механизма уравновешивания
                          кабины
                          <span class="dots"></span>
                        </span>
                        <span class="value">503 товара</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="toggle_btn">
                  <span class="icon">
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                  </span>
                  Передок кузова
                  <span class="dots"></span>
                  <span class="value">503 товара</span>
                </button>
              </li>
              <li>
                <button class="toggle_btn">
                  <span class="icon">
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                    <svg>
                      <use xlink:href="/icons/sprite.svg#minus"></use>
                    </svg>
                  </span>
                  Боковина кузова
                  <span class="dots"></span>
                  <span class="value">503 товара</span>
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= require('html-loader!../__bottom.html') %>
