<%= require('html-loader!../__top.html') %> <%=
require('html-loader!../__menu.html') %> <%=
require('html-loader!../__breadcrumbs.html') %>

<main class="main">
  <div class="main-content">
    <div class="error_block">
      <img src="/img/puzzle_error.png" alt />
      <div class="error_text">404</div>
    </div>
    <div class="block_title">
      К сожалению, запрашиваемая страница не найдена.
    </div>
    <div class="btns_wrap">
      <a href="#" class="yellow_btn hover_black"> На главную </a>
      <a href="#" class="yellow_btn hover_black"> Каталог </a>
    </div>
  </div>
</main>

<%= require('html-loader!../__bottom.html') %>
