<%= require('html-loader!../__top.html') %>
<%= require('html-loader!../__menu.html') %>
<h1>GILBER AUTO ELECTRIC APPLIANCE CO. LTD.</h1>
    <div class="page_bg"></div>
    <main class="main none_padding">
        <div class="slider_wrap">
            <div class="slider_body">

                <!-- slide_1 -->
                <div class="slide sl-1">
                    <div class="slide_inner">
                        <div class="slide_picture p-1">
                            <!-- <span></span> -->
                            <img class="tns-lazy-img" src="img/1x2.png" data-src="img/generator_left.png" alt="Генератор GILBER 170.148" />
                            <!-- data-srcset="./img/adaptive/генератор01_500w.png 500w,
                                        ./img/adaptive/генератор01_800w.png 800w,
                                        ./img/adaptive/генератор01_1100w.png 1100w
                                    " -->
                        </div>
                        <div class="slide_picture p-2">
                            <!-- <span></span> -->
                            <img class="tns-lazy-img" src="img/1x2.png" data-src="img/generator_right.png" alt="Генератор GILBER 169.115" />
                            <!-- data-srcset="./img/img/1x2.png 640w,
                                        ./img/adaptive/генератор02_800w.png 800w,
                                        ./img/adaptive/генератор02_1100w.png 1100w
                                    " -->
                        </div>
                        <a href="#" class="slide_btn">
                            генераторы
                        </a>
                    </div>
                </div>

                <!-- slide_2 -->
                <div class="slide sl-2">
                    <div class="slide_inner">
                        <div class="slide_picture p-1">
                            <img class="tns-lazy-img" src="img/1x2.png" data-src="img/starter_left.png" alt="Стартер GILBER 170.148" />
                        </div>
                        <div class="slide_picture p-2">
                            <img class="tns-lazy-img" src="img/1x2.png" data-src="img/starter_right.png" alt="Стартер GILBER 169.115" />
                        </div>
                        <a href="#" class="slide_btn">
                            стартеры
                        </a>
                    </div>
                </div>

                <!-- slide_3 -->
                <div class="slide sl-3">
                    <div class="slide_inner">
                        <div class="slide_picture p-1">
                            <img class="tns-lazy-img" src="img/1x2.png" data-src="img/svetotehnika_left.png" alt="Фары GILBER" />
                        </div>
                        <div class="slide_picture p-2">
                            <img class="tns-lazy-img img-1" src="img/1x2.png" data-src="img/svetotehnika_right.png" alt="Лампы GILBER" />
                            <!-- <img class="tns-lazy-img img-2" src="" data-src="img/фары03.png" alt /> -->
                        </div>
                        <!-- <div class="slide_picture p-3">
                            
                        </div> -->
                        <a href="#" class="slide_btn">
                            светотехника
                        </a>
                    </div>
                </div>
            </div>

            <!-- slider_nav -->
            <div class="slider_nav__wrap">
                <button class="slider_prev">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.97386 1L1 6.97441L7 13" stroke-width="2" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round"/>
<line x1="1" y1="-1" x2="9" y2="-1" transform="matrix(-1 0 0 1 17 8)" stroke-width="2" stroke-linecap="round"/>
</svg>

                </button>
                <div class="slider_nav">
                    <!-- заполняется в js -->
                </div>
                <button class="slider_next">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0261 1L16 6.97441L10 13"  stroke-width="2" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round"/>
<line x1="1" y1="7" x2="9" y2="7"  stroke-width="2" stroke-linecap="round"/>
</svg>
                </button>
            </div>
        </div>
    </main>
</div>

        