@import '../../vars.scss';
@import '../../components/popup.scss';


#dealer {
  &.wrapper {
    overflow: hidden;
  }

  .main-content {
    @include tablet_mid {
      margin-bottom: 55px;
    }

    margin-bottom: 75px;
    width: 100%;
    display: flex;
    position: relative;

    // picture==============
    .picture {
      @include pc {
        flex: 0 0 48%;
        width: auto;
      }

      @include notebook {
        flex: 0 0 30%;
        width: auto;
      }

      @include tablet_mid {
        display: none;
      }

      position: relative;
      flex: 0 0 57%;
      width: 57%;

      img {
        @include notebook {
          transform: translateY(-50%) rotate(80deg);
          max-width: 90vh;
          min-width: 500px;
          top: 300px;
          right: -21vw;
          // left: -28vw;
          z-index: -1;
          min-height: 0px;
        }

        position: absolute;
        display: flex;
        right: 0;
        top: 250px;
        top: 26vh;
        min-height: 600px;
        transform: translateY(-50%);
        max-height: 90vh;
      }
    }

    // form_wrap=================
    .form_wrap {
      @include pc {
        flex: 0 0 52%;
        width: auto;
      }

      @include notebook {
        flex: 0 0 70%;
        width: auto;
      }

      @include tablet_mid {
        flex: 0 1 100%;
        justify-content: center;
      }

      letter-spacing: normal;
      width: 43%;
      flex: 0 0 43%;
      display: flex;
      flex-wrap: wrap;

      .form_text {
        text-align: center;
        line-height: 150%;

        &.footer_form {
          max-width: 365px;
          margin: 0 auto;
          letter-spacing: -0.02em;
        }

        // тут надо было так сделать
        br {
          &:nth-child(1) {
            @media (max-width: 470px) {
              display: block;
            }

            display: none;
          }

          &:nth-child(2) {
            @include pc {
              display: none;
            }

            @include notebook {
              display: block;
            }

            @include tablet {
              display: none;
            }

            @include tablet_sm {
              display: block;
            }

            @include phone_big {
              display: none;
            }

            display: block;
          }

          &:last-child {
            @include pc {
              display: block;
            }

            @include notebook {
              display: none;
            }

            @include tablet {
              display: block;
            }

            @include tablet_mid {
              display: none;
            }

            @include tablet_sm {
              display: none;
            }


            @include phone_big {
              display: block;
            }

            @media (max-width: 470px) {
              display: none;
            }

            @media (max-width: 370px) {
              display: block;
            }

            display: none;
          }
        }

        a {
          @include phone_mid {
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }

            &::before {
              display: none;
            }
          }
        }
      }

      .block_title {
        width: 100%;
        margin: 15px 0;
        text-align: center;

        br {
          @include phone {
            display: block;
          }

          display: none;
        }
      }

      // form=================
      .form_body {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .select_wrap {
          width: 85px;
          margin-top: 30px;
          position: relative;

          &.active {
            &::after {
              transform: translateY(-50%) rotate(-90deg);;
            }
          }

          &.is-invalid select{
            border: 1px solid #CF1B27;
          }

          &::after {
            content: '';
            position: absolute;
            transition: .3s;
            display: block;
            top: 50%;
            right: 14px;
            transform: translateY(-50%) rotate(90deg);
            width: 8px;
            height: 14px;
            z-index: 40;
            background: url("data:image/svg+xml,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.026 1L7 6.974 1 13' stroke='%23313131' fill='none' stroke-width='1.3'/%3e%3c/svg%3e") no-repeat;
          }

          .form_select {
            width: 100%;
            text-overflow: ellipsis;
            -moz-appearance: none;
            text-overflow: '';
            -webkit-appearance: none;
            padding: 9px 10px;
            padding-right: 25px;
            border-radius: 40px;
            border: 1px solid $grayL;
            outline: none;
            position: relative;
            z-index: 30;

            .form_select__option {
              &:hover {
                background: $grayL2;
              }
            }

            &.is-invalid {
              border: 1px solid #CF1B27;

              & ~ .select_title {
                border: 1px solid #CF1B27;
              }
            }
          }

          .select_title {
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 60;
            display: flex;
            flex-wrap: wrap;
            border-radius: 40px;
            background: #fff;
            padding: 9px 10px;
            border: 1px solid $grayL;

            &:focus {
              .select_title__arrow svg {
                transform: rotate(-90deg);
              }

              & ~ .select_list {
                opacity: 1;
                visibility: visible;
              }
            }

            .select_title__arrow {
              stroke: $textGray;
              margin-left: auto;
              width: 6px;
              height: 12px;
              display: block;

              svg {
                transform: rotate(90deg);
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }

        .form_inp {
          @include phone {
            margin-left: 0;
          }

          margin-top: 30px;
          padding: 9px 10px;
          border-radius: 50px;
          border: 1px solid $grayL;
          background: #fff;
          width: 100%;

          &:nth-child(2){
            width: calc(100% - 105px);
            margin-left: 20px;
          }

          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7){
            @include phone {
              width: 100%;
                margin-right: 0 !important;
            }

            width: calc((100% - 20px) / 2);
          }

          &:nth-child(4),
          &:nth-child(6){
            margin-right: 20px;
          }

          &:focus {
            border: 1px solid $grayD;
          }

          &.is-invalid {
            border: 1px solid #CF1B27;
          }
        }

        .form_errors {
          color: #FF0000;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          &:before{
            content: '';
            display: block;
            width: 26px;
            height: 26px;
            margin-right: 10px;
            background: url("@icons/error02.svg");
          }

          & ~ .submit_btn {
            margin-top: 20px;
          }
          //
          //&.is-active ~ .submit_btn {
          //  margin-top: 0px;
          //}
        }

        .submit_btn {
          margin: 40px auto 25px;
          position: relative;
          min-height: 48px;
          min-width: 177px;
        }
      }
    }
  }


  .popup {
    @media (max-width: 500px) {
      height: 90vw;
      width: 95vw;
    }

    text-align: center;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 470px;
    width: 490px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn_cloce {
      top: 30px;
      right: 30px;
    }

    .popup_wrap {
      .popup_body {
        .popup_title {
          line-height: 120%;
          color: $yellow;
          font-size: 26px;
        }

        .popup_title-sub {
          line-height: 120%;
          margin-top: 15px;
          font-size: 15px;
          color: #fff;
        }
      }
    }
  }
}