$textGray: #313131;
$yellow: #FFED00;
$grayD: #737373;
$gray: #6D6D6D;
$grayL: #CECECE;
$grayL2: #E5E5E5;

$black: #000;
$black80: rgba(0, 0, 0, 0.8);
$black40: rgba(0, 0, 0, 0.4);
$black10: rgba(0, 0, 0, 0.1);

@import './mixins';